@charset "UTF-8";

ul#album-fotos {width: auto; margin: -100px; padding: 90px; overflow: hidden; list-style: none;}
ul#album-fotos li {width: 142px; height: 200px; margin: 10px 20px 20px 20px; float: left; border: 0px solid white; background-color:  #ffffff; box-shadow: 1px 1px 3px rgba(0,0,0,.4); -webkit-transition: all .4s ease-in;}

ul#album-fotos li:hover { -webkit-transform: scale(2); }

ul#album-fotos li:hover span {opacity: 1;}

/* Album Revistas 01 à 10 */
ul#album-fotos li#foto01 {background: url('../img/c1.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto01:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto02 {background: url('../img/c2.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto02:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto03 {background: url('../img/c3.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto03:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto04 {background: url('../img/c4.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto04:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto05 {background: url('../img/c5.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto05:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto06 {background: url('../img/c6.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto06:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto07 {background: url('../img/c7.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto07:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto08 {background: url('../img/c8.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto08:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto09 {background: url('../img/c9.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto09:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto10 {background: url('../img/c10.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto10:hover {background-position: 0px 0px; background-size: 142px 200px;}

/* Album Revistas 11 à 14 */
ul#album-fotos li#foto11 {background: url('../img/r1.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto11:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto12 {background: url('../img/r2.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto12:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto13 {background: url('../img/r3.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto13:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto14 {background: url('../img/r4.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto14:hover {background-position: 0px 0px; background-size: 142px 200px;}


/* Album Revistas 15 à 19 */
ul#album-fotos li#foto15 {background: url('../img/b1.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto15:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto16 {background: url('../img/b2.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto16:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto17 {background: url('../img/b3.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto17:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto18 {background: url('../img/b4.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto18:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto19 {background: url('../img/b5.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto19:hover {background-position: 0px 0px; background-size: 142px 200px;}

ul#album-fotos li#foto20 {background: url('../img/b6.jpg') no-repeat; background-position: 50% 50%; background-size: 142px 200px; background-color: #ffffff; }
ul#album-fotos li#foto19:hover {background-position: 0px 0px; background-size: 142px 200px;}




ul#album-fotos li span {
    opacity: 0; 
    position: absolute;
    color: #fff; 
    text-shadow: 1px 1px 1px #000000; 
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
	height: auto;
    padding: 3px; 
    font-size: 6pt; 
    box-sizing: border-box;
	transition: opacity 1s;
    bottom: 0px;
}

ul#album-fotos li span b{ color: #bbff01;}

