/* ==================================================================

/* BARRA DE NAVEGAÇÃO - nav-wrap */

/* ================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800);

/* Nav Wrap --------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font-family: 'Arial', sans-serif;
   font-size: 12;
   width: 100%;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}


/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
    
    
   /* center align the menu */
   text-align: center;
}

ul#nav a:hover { color: #000; background: #ccc; }

#dropdown ul { background: #ccc; }
#dropdown ul li { color: #000;}


ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
   vertical-align: inherit;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	 text-decoration: none;
   text-align: left;
   color: #fff;


	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { color: #000; background-color: transparent !important; }
ul#nav li.current a { color: #000; }

ul#nav li:hover ul { display: block; }
ul#nav li ul { width: auto; display: none; background: #8b8b8b; position: absolute; border-left: 5px solid #676767; }

.li-destak { width: auto; display: none; background: #aaaaaa; position: absolute; border-left: 5px solid #676767; }


#nav-ul-div { 
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 6%;
    z-index: 10;
}
/* 
--------------------------------------------------------------------- */




/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
   #nav-wrap {
   font-family: 'Arial', sans-serif;
   font-size: 12;
}
/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap {
      font-family: 'Arial', sans-serif;
      font-size: 12;
      background: transparent !important;
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
    
   #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #CC5200;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }

	#nav-wrap > a:before,
   #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
	   display: block;
	}

   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      top: 12px;
      right: 0;
   }

   /* display menu panels */
	#nav-wrap:target > ul#nav	{
	   display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }  

    #div-sub-h img, p {
        width: 200px; height: auto
    }

    .header-destak {
      font-size: 15px !important; 
    }

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap ul#nav { width: auto; float: none; }

