.bg {
width: 100%; 
height: 100%; 
position: relative;
    float: left;
top: 0;
left: 0;
z-index: -1;
}

.div-fundo {
     width:100%;
     height: 600px;
     background-color: #ad1919;
     background-image:url(../img/drop-in-ocean.jpg);
     background-repeat: no-repeat;
    background-size: 100% 100%;
}

 #div-2 {
     background-image:url(../img/drop-in-ocean.jpg);
     width:100%;
     height:992px;
 }